body {
    background: url('/studentEnroll/assets/img/intro-bg.jpg') ;
    /*background: #696969;*/
    background-size: cover;
    font-family: Montserrat;
}
.login-block {
    width: 500px;
    padding: 20px;
    background: #E6E6FA;
    border: 1px solid #e15960;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    border: 1px solid #e15960;
    margin: 0 auto;
    margin-top: 120px;
    /*opacity: 0.6;
    filter: alpha(opacity=60);      พื้นหลังจาง*/
}
.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}
.login-block input {
    /*width: 50%;*/
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}
.login-block button {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}