body{                                
    background: #fff;
}
.center{                     /*  กล่องอยู่ตรงกลาง*/
    margin: auto;
    margin-top: 100px;
}
.box{                         /*  box แบ่งบล็อกข้างใน centerbody*/
    
    width: 800px;
    border-radius: 5px;
    padding: 8px;
    color: 	#ff0000;
    border: 2px solid #0000ff;
    outline: none;
    text-decoration: none;
    outline: none;
    text-align: center;
    margin: auto;
  
}
.img {
  margin: 0;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  position: fixed;
  top: 2em;
  left: auto;
  width: 7.5em;
  right: 2em;
}
.button {
    background-color: #f90606; /* Green */
    border: none;
    padding: 3px 10px;
    border-radius: 6px;
    text-align:right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

