body{                                
    background: #808080;
}
.home{
  margin: 0;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  position: fixed;
  top: 2em;
  left: auto;
  width: 7.5em;
  right: 2em;
}
.centerbody{                     /*  กล่องอยู่ตรงกลาง*/
    margin: auto;
    margin-top: 50px;
}
.boxjob{                         /*  box แบ่งบล็อกข้างใน centerbody*/
    
    width: 750px;
    background: #E6E6FA;
    min-height: 120px;
    padding: 5px 10px;
    position: relative;
    border-top: 2px solid #0000ff;
    margin: auto;
}
.boxfont{                           /*  font color: */
        width: 250px;
         /* height: 90px; */
        margin: 0 10px;
        float: left;
}
.b{
  margin: 0; 
  padding: 0.3em 0.4em;
  font-family: Arial, sans-serif;
  background: #900;
  border: thin outset #900;
  color: white;
}
